<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>My Favourites</ion-title>
  </ion-navbar>
</ion-header>

<ion-content> 
   
   <ion-card *ngFor="let item of listData; let i = index"> 
  <ion-card-content> 
    <div class="card-title">
 
  <ion-row>
    <ion-col class="ioncol" innerHTML="{{ ( ( commonFunction.rootScope['Lang'] == 'SCH' || commonFunction.rootScope['Lang'] == 'TCH' ) ?  
     ( item.cjobname ) : ( item.jobname ) ) }}" tappable (click)="itemTapped($event, item)">
     
    </ion-col>
     

    <ion-col align-self-end col-1 top  class="ioncolpopover">
     <ion-icon *ngIf=" item.star ? false : true " tappable (click)="FavUnfavStar($event, item, 0, i)" name="star-outline"></ion-icon>
     <ion-icon *ngIf=" item.star ? true : false " tappable (click)="FavUnfavStar($event, item, 1, i)" name="star" class="starfav"></ion-icon>
    </ion-col> 
       
  </ion-row>   
     
    </div>

     <div tappable (click)="itemTapped($event, item)">

     <img class="thumbnail" src="{{ filterItemsImg(  ( ( commonFunction.rootScope['Lang'] == 'SCH' || commonFunction.rootScope['Lang'] == 'TCH' ) ?  
     ( item.cdeptnamejve ) : ( item.deptnamejve ) )  ) }}"  (error)="imageError($event)">
     <div class="card-subtitle" innerHTML="{{ ( ( commonFunction.rootScope['Lang'] == 'SCH' || commonFunction.rootScope['Lang'] == 'TCH' ) ?  
     ( item.cdeptnamejve ) : ( item.deptnamejve ) ) }}"></div>
     <p *ngIf="item.minpaym">Salary (monthly): ${{ salaryFormat(item.minpaym) }}</p>
     <p  *ngIf="item.minpayh">Salary (hourly): ${{ salaryFormat(item.minpayh) }}</p> 
    <p>Expire on: {{item.enddate}}</p>
    <p>Job Id: {{item.jobid}}</p>
     </div>
    
  </ion-card-content>

</ion-card>
  

</ion-content>

